<div className="container-fluid" style="padding-top: 4rem;" data-aos="fade-down">
    <div class="row">
        <div class="col p-5">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 3rem;">No</th>
                    <th scope="col">Instansi</th>
                    <th scope="col">No. Surat</th>
                    <th scope="col">Penanggung jawab</th>
                    <th scope="col">Barang</th>
                    <th scope="col">Tujuan</th>
                    <th scope="col">Status</th>
                    <th scope="col" style="width: 10rem;">Detail</th>
                  </tr>
                </thead>
                <tbody>
                    <% peminjam.forEach((peminjam, index) => { %>
                        <tr>
                          <th scope="row"><%= index + 1 %></th>
                          <td><%= peminjam.instansi %></td>
                          <td><%= peminjam.noSurat %></td>
                          <td><%= peminjam.name %></td>
                          <td>
                              <% peminjam.barang.forEach(barang=> { %>
                                <form method="post" action="/peminjam/barang?_method=DELETE">
                                    <a role="button" class="text-primary" data-bs-toggle="modal" data-bs-target="#detail<%= barang.code %>" style="text-decoration: none;">
                                        <%= barang.code %>
                                    </a>
                                    x <%= barang.quantity %>
                                    <% if (peminjam.status === 'Belum Dikembalikan') { %>
                                        <input type="hidden" name="idBarang" value=<%= barang.id %>>
                                        <input type="hidden" name="id" value=<%= peminjam.id %>>
                                        <input type="hidden" name="quantity" value=<%= barang.quantity %>>
                                        <input type="hidden" name="code" value=<%= barang.code %>>
                                        <button type="submit" class="btn text-danger" style="border: 0; padding: 0; margin: 0;"><i class="bi bi-file-earmark-x-fill"></i></button>
                                    <% } %>
                                </form>
                            <% }) %>
                        </td>
                          <td><%= peminjam.tujuan %></td>
                          <td><%= peminjam.status %></td>
                          <td>
                            <% if (peminjam.status === 'Dikembalikan') { %>
                                <h6>Dikembalikan</h6>
                            <% } else { %>
                                <form method="post" action="/peminjam?_method=PATCH">
                                  <a role="button" class="text-success" data-bs-toggle="modal" data-bs-target="#edit<%= peminjam.id %>" style="text-decoration: none;">
                                      Edit <i class="bi bi-pencil-fill"></i>
                                  </a>
                                  <% peminjam.barang.forEach(barang => { %>
                                    <input type="hidden" name="code" value=<%= barang.code %>>
                                    <input type="hidden" name="quantity" value=<%= barang.quantity %>>
                                  <% }) %>
                                  <input type="hidden" name="id" value=<%= peminjam.id %>>
                                  <button type="submit" class="btn text-primary" style="border: 0; padding: 0; margin: 0;">
                                      Dikembalikan <i class="bi bi-file-earmark-x-fill"></i>
                                  </button>
                              </form>
                            <% } %> 
                          </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-dark mt-4" data-bs-toggle="modal" data-bs-target="#tambahPeminjam">
                <i class="bi bi-plus-circle-fill"></i> Tambah Peminjam
            </button>
        </div>
    </div>
</div>
<hr>

<% barang.forEach(barang => { %>
    <!-- Detail Barang Peminjam -->
    <div class="modal fade" id="detail<%= barang.code %>" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detail Barang : <%= barang.code %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <p>Nama Barang : <%= barang.name %></p>
                    <p>Kategori : <%= barang.category %></p>
                    <p>Merk : <%= barang.brand %></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                </div>
            </div>
        </div>
      </div>
<% }) %>

<% peminjam.forEach(peminjam => { %>
    
<!-- Tambah Barang -->
<div class="modal fade" id="barang<%= peminjam.id %>" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Barang</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="/peminjam/barang?_method=PUT">
                <div class="mb-3">
                    <label for="code" class="form-label">Kode Barang</label>
                    <select name="code" class="form-select" aria-label="Default select example" required>
                        <option value="" selected>Open this select menu</option>
                        <% barang.forEach(barang => { %>
                            <option value=<%= barang.code %>><%= barang.code %> : <%= barang.name %> (Stock : <%= barang.stock %>)</option>
                        <% }) %>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="quantity" class="form-label">Jumlah yang dipinjam</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" required>
                </div>

                <input type="hidden" name="id" value=<%= peminjam.id %>>

                <a class="text-success" role="button" data-bs-toggle="modal" data-bs-target="#edit<%= peminjam.id %>" style="text-decoration: none;">
                    <h6>< Kembali</h6>
                </a>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary">Tambah Barang</button>
                </div>
            </form>
        </div>
    </div>
  </div>

    <!-- Edit Peminjam -->
<div class="modal fade" id="edit<%= peminjam.id %>" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Peminjam</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="/peminjam?_method=PUT">
                <div class="mb-3">
                    <label for="instansi" class="form-label">Instansi</label>
                    <input type="text" class="form-control" id="instansi" name="instansi" value=<%= peminjam.instansi %> required>
                </div>
                <div class="mb-3">
                    <label for="noSurat" class="form-label">Nomor Surat</label>
                    <input type="text" class="form-control" id="noSurat" name="noSurat" value=<%= peminjam.noSurat %> required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Penanggung jawab</label>
                    <input type="text" class="form-control" id="name" name="name" value=<%= peminjam.name %> required>
                </div>
                <div class="mb-3">
                    <label for="tujuan" class="form-label">Tujuan</label>
                    <input type="text" class="form-control" id="tujuan" name="tujuan" value=<%= peminjam.tujuan %> required>
                </div>
                
                <input type="hidden" name="id" value=<%= peminjam.id %>>

                <div class="mb-3">
                    <a class="text-success" role="button" data-bs-toggle="modal" data-bs-target="#barang<%= peminjam.id %>" style="text-decoration: none;">
                        <h6>Tambah Barang <i class="bi bi-clipboard-plus-fill"></i></h6>
                    </a>
                </div>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary">Edit Peminjam</button>
                </div>
            </form>
        </div>
    </div>
  </div>
<% }) %>

<!-- Tambah Peminjam -->
<div class="modal fade" id="tambahPeminjam" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Peminjam</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="/peminjam">
                <div class="mb-3">
                    <label for="instansi" class="form-label">Instansi</label>
                    <input type="text" class="form-control" id="instansi" name="instansi" required>
                </div>
                <div class="mb-3">
                    <label for="noSurat" class="form-label">Nomor Surat</label>
                    <input type="text" class="form-control" id="noSurat" name="noSurat" required>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Penanggung jawab</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="tujuan" class="form-label">Tujuan</label>
                    <textarea class="form-control" name="tujuan" id="tujuan" rows="3" style="resize: none;" required></textarea>
                </div>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-primary">Tambah Peminjam</button>
                </div>
            </form>
        </div>
    </div>
  </div>